<ion-header>
  <ion-toolbar>
    <ion-title>mapacoordenadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="container">
    <div class="input-group mb-3">
      <input type="text" id="latitud" class="form-control" placeholder="latitud" aria-label="latitud" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <input type="text" id="longitud" class="form-control" placeholder="longitud" aria-label="longitud" aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-success" (click)="cargarmapa()">Success</button>

  </div>



</ion-content>

