<ion-header>
  <ion-toolbar>
    <ion-title>bodegas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-breadcrumbs [maxItems]="2">
    <ion-breadcrumb url="/" component="home">Home</ion-breadcrumb>
    <ion-breadcrumb url="/app-bodegas" component="app-bodegase">Bodegas</ion-breadcrumb>
    <ion-breadcrumb url="/bod-detalle" component="bod-detalle">DEtalle</ion-breadcrumb>
  </ion-breadcrumbs>
  <ion-searchbar placeholder="Buscar Bodega" animated (ionChange)="seachBodega( $event)">
<!--  <ion-searchbar placeholder="Buscar Bodega">-->
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let bodega of searcherdBodega ">
      <ion-card class="bg-primary" expand="block"   color="success"  mode="ios" (click)="detalle({bodega : bodega})">
        <h4>{{bodega.NOM_ZON}} -- {{bodega.NOM_BOD}}</h4>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" pullingIcon="chevron-down-circle-outline"
                   pullingText="Pull to refresh"
                   refreshingSpinner="circular"
                   refreshingText="Consultando bodegas and zonas">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
